$field-color: #006400;
$size-field: 80%;

.container {
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
    background-color: $field-color;
    position: relative;

    .name-team {
        position: absolute;
        color: #FFF;
        height: calc((100% - $size-field) / 2);
        display: grid;
        place-items: center;
        width: 100%;

        &.name-team-opposite {
            top: 0;
        }

        &.name-team-home {
            bottom: 0;
        }
    }

    app-field {
        max-width: $size-field;
        height: $size-field;
    }
}