<div class="container">
    <div class="field">
        <div class="half-field half-field-opposite"></div>
        <div class="half-field half-field-main"></div>
        <div class="gol-line gol-line-top">
            <div class="gol-line-content">
                <div class="gol-line-content-circle gol-line-content-circle-top"></div>
            </div>
        </div>
        <div class="central-circle"></div>
        <div class="central-line"></div>
        <div class="gol-line gol-line-bottom">
            <div class="gol-line-content">
                <div class="gol-line-content-circle gol-line-content-circle-bottom"></div>
            </div>
        </div>
    </div>
</div>