<div class="container">
    <img class="login_logo" src="../../../assets/images/login_logo_boleiros.png" alt="">

    <form [formGroup]="registerFormGroup" class="form-group">
    <app-input
        id="register-input-username-72w5z2ui"
        [formControlName]="RegisterFormEnum.USERNAME"
        label="Usuário"/>
    <app-hint-error
        id="register-input-username-hint-error-ajia7BTf"
        [control]="registerFormGroup.controls[RegisterFormEnum.USERNAME]"
        [errorMessages]="{
            required: 'Este campo é obrigatório',
            minlength: 'O tamanho mínimo desse campo são 3 caracteres'
        }"></app-hint-error>

    <app-input
        id="register-input-email-ygz0mIw1"
        [formControlName]="RegisterFormEnum.EMAIL"
        label="Email"/>
    <app-hint-error
        id="register-input-email-hint-error-dKLeSZMS"
        [control]="registerFormGroup.controls[RegisterFormEnum.EMAIL]"
        [errorMessages]="{
            required: 'Este campo é obrigatório',
            email: 'Este campo só aceita email como valor'
        }"></app-hint-error>

    <app-input
        id="register-input-password-k936CKWU"
        [formControlName]="RegisterFormEnum.PASSWORD"
        label="Password"/>
    <app-hint-error
        id="register-input-password-hint-error-cihrPUCm"
        [control]="registerFormGroup.controls[RegisterFormEnum.PASSWORD]"
        [errorMessages]="{
            required: 'Este campo é obrigatório',
            minLength: 'O tamanho mínimo para a senha são 6 caracteres',
            lowercaseMissing: 'É necessário pelo menos 1 caractere minúscula na senha',
            uppercaseMissing: 'É necessário pelo menos 1 caractere maiúsculo na senha',
            numberMissing: 'É necessário pelo menos 1 caractere numérico na senha',
            especialCharacterMissing: 'É necessário pelo menos 1 caractere especial na senha'
        }"></app-hint-error>

    <app-input
        id="register-input-confirm-password-zGppqlEi"
        [formControlName]="RegisterFormEnum.CONFIRM_PASSWORD"
        label="Confirm Password"/>
    <app-hint-error
        id="register-input-confirm-password-hint-error-p6YWeUTa"
        [control]="registerFormGroup.controls[RegisterFormEnum.CONFIRM_PASSWORD]"
        [errorMessages]="{
            required: 'Este campo é obrigatório',
            passwordMismatch: 'As senhas não coincidem'
        }"></app-hint-error>
    </form>

    <div class="group-button">  
        <app-button
            button-primary
            id="login-button-cp2SBdku"
            label="Cadastrar"
            (click)="register()"/>

        <app-button
            button-link
            id="login-button-cp2SBdku"
            label="Retornar"
            (click)="goTo(RouteEnum.LOGIN)"/>
    </div>    
</div>
