<div class="container">
    @for (match of matchs; track match) {
        <app-expansion-panel>
            <app-expansion-panel-header>
                <app-resume-society-football-header [match]="match"></app-resume-society-football-header>
            </app-expansion-panel-header>

            <app-expansion-panel-description>
                <app-resume-society-football-description [match]="match"></app-resume-society-football-description>
            </app-expansion-panel-description>            
        </app-expansion-panel>
    }
</div>