<div class="card-player">
    <img src="../../../assets/images/features-player-avatar/card-3.webp" alt="" class="card">

    <span class="score">
        <p class="number">68</p>
        <p class="position">GK</p>
    </span>

    <div class="flag-country">
        <img src="../../../../assets/images/flag/brasil.webp" alt="">
    </div>

    <div class="flag-team">
        <img src="../../../../assets/images/flag/juventos.png" alt="">
    </div>

    <div class="player-image">
        <img src="../../../../assets/images/features-player-avatar/neuer.webp" alt="">
    </div>

    <div class="player-name">
        <p>Neuer</p>
    </div>
</div>