<div class="half-field" [ngClass]="{'invert' : invert}">
    <div class="gol-area-line">
        <div class="goalkeeper">
            <p>Jonas</p>
        </div>
    </div>

    <div class="central-defender">
        <p>Wilker</p>
    </div>

    <div class="right-defender">
        <p>Vanderson</p>
    </div>

    <div class="left-defender">
        <p>Moisés</p>
    </div>

    <div class="right-wing">
        <p>João</p>
    </div>

    <div class="left-wing">
        <p>Adenilson</p>
    </div>

    <div class="striker">
        <p>Felipe</p>
    </div>
    <div class="central-line"></div>
</div>