<div class="half-field" [ngClass]="{'invert' : invert}">
    <div class="gol-area-line">
        <div class="player-container-gk goalkeeper">
            <app-player-icon [invert]="invert"/>
        </div>
    </div>

    <div class="player-container central-defender">
        <app-player-icon [invert]="invert"/>
    </div>

    <div class="player-container right-defender">
        <app-player-icon [invert]="invert" [attendanceConfirmed]="true"/>
    </div>

    <div class="player-container left-defender">
        <app-player-icon [invert]="invert"/>
    </div>

    <div class="player-container right-wing">
        <app-player-icon [invert]="invert"/>
    </div>

    <div class="player-container left-wing">
        <app-player-icon [invert]="invert" [attendanceConfirmed]="true"/>
    </div>

    <div class="player-container striker">
        <app-player-icon [invert]="invert" [attendanceConfirmed]="true"/>
    </div>
    <div class="central-line"></div>
</div>