<div class="container">
    <img class="login_logo" src="../../../assets/images/login_logo_boleiros.png" alt="">

    <form [formGroup]="loginFormGroup">
        <app-input
            id="login-input-username-bBjsp9BX"
            formControlName="username"
            label="Usuário"/>

        <app-input
            id="login-input-password-d124zJ80"
            formControlName="password"
            label="Senha"/>

        <app-button 
            button-link
            id="login-button-recovery-password-Ta8NoqmU"
            label="Recuperar senha"
            (click)="goTo(RouteEnum.RECOVERY_PASSWORD)"/>
            
        <app-button
            button-primary
            id="login-button-TKfH2DgB"
            label="Login"
            (click)="signIn()"/>

        <app-button 
            button-link
            id="login-button-cp2SBdku"
            label="Cadastrar"
            (click)="goTo(RouteEnum.REGISTER)"/>
    </form>
</div>