<form action="" [formGroup]="loginFormGroup">
    <app-input
        id="login-input-username-bBjsp9BX"
        formControlName="username"
        label="Usuário"/>
    <app-hint-error
        id="login-input-username-hint-error-pZShITrG"
        [control]="loginFormGroup.controls['username']"
        [errorMessages]="{
            required: 'Este campo é obrigatório'
        }"></app-hint-error>

    <app-input id="login-input-password-d124zJ80"
        formControlName="password"
        label="Senha"/>
    <app-hint-error
        id="login-input-password-hint-error-pZShITrG"
        [control]="loginFormGroup.controls['password']"
        [errorMessages]="{
            required: 'Este campo é obrigatório'
        }"></app-hint-error>

    <app-button 
        id="login-button-cp2SBdku"
        label="Cadastrar"
        (click)="goTo(RouteEnum.REGISTER)"/>

    <app-button 
        id="login-button-recovery-password-Ta8NoqmU"
        label="Recuperar senha"
        (click)="goTo(RouteEnum.RECOVERY_PASSWORD)"/>
        
    <app-button 
        id="login-button-TKfH2DgB"
        label="Login"
        (click)="goTo(RouteEnum.HOME)"/>
</form>