@import '@assets/styles/variables.scss';

.toast-container {
    position: fixed;
    display: grid;
    box-sizing: border-box;
    padding: $size-32;
    justify-content: flex-end;
    gap: $size-8;
    width: 100%;

    .toast-item {
        display: grid;
        background-color: red;
        padding: $size-4;
    }
}