$score-height: 36px;
$padding: 4px;

.display-score {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    height: $score-height;
    box-sizing: border-box;
    padding: $padding;

    .logo-and-name {
        display: flex;
        align-items: center;
    
        .team-logo {
            height: calc($score-height - (2 * #{$padding}));
            margin: 0 8px;
        }
    }

    .score {
        display: flex;
        align-items: center;
        font-size: 20px;
    }
}