$score-height: 36px;
$padding: 4px;

.display-score {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    width: 100%;
    height: $score-height;
    box-sizing: border-box;
    padding: $padding;

    .resume {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
    }

    .logo {
        display: flex;
        align-items: center;
    
        .team-logo {
            height: calc($score-height - (2 * #{$padding}));
            margin: 0 8px;
        }

        &.logo-right {
            justify-content: flex-end;
        }
    }

    .score {
        display: flex;
        align-items: center;
        font-size: 20px;
    }
}