<div class="display-score">
    <span>17/10/2017</span>

    <div class="resume">
        <div class="logo logo-left">
            <img class="team-logo" [src]="match.homeTeam.logo" alt="">
        </div>
        
        <div class="score">
            <span>{{ match.homeTeam.score }}</span>
            <mat-icon>close</mat-icon>
            <span>{{ match.visitorTeam.score }}</span>
        </div>
    
        <div class="logo logo-right">
            <img class="team-logo" [src]="match.visitorTeam.logo" alt="">
        </div>
    </div>   
</div>